################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PiEstimator/.vs/PiEstimator/v14
/PiEstimator/bin/Debug
/PiEstimator/obj/Debug
/PiEstimator/obj/Release
/PiEstimator/obj/Release
/PiEstimator/obj/Release
/.vs
