################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PiEstimator/.vs/PiEstimator/v14
